# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
venv/
.env/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pdb

# VS Code settings (if using VS Code)
.vscode/

# macOS & Linux system files
.DS_Store
